# python cache
__pycache__/
cell_cycle_model/__pycache__
tests/__pycache__

#distribution files
/build/
/dist/
/sdists/
*.egg-info

# compiled documentation
docs/_build
docs/.doctrees/
docs/make.bat
docs/Makefile

# pytest .cache directory
.cache/
.pytest_cache/

# Helper and run files
amici_models
run_flake8.sh
venv/
.wenv/
.vscode
*/.vscode/
versions/v3.0.0/cell_cycle_v3.0.0.txt
versions/v3.0.0/dict.txt
versions/v3.0.0/modify_bngl.py
versions/v3.0.0/make_petab_compatible.py
versions/.metadata/
versions/v*/cell_cycle_v[0-9].[0-9].[0-9].xml

# Recycle bin
sim2opt.csv.xlsx
versions/0015_objectivePrior/
versions/bngl_tests/results/test_compartment_topology/
versions/bngl_tests/test_compartment_synthesis.bngl
versions/bngl_tests/test_compartment_topology.bngl
versions/v3.0.0/PEtab/cell_cycle_v3.0.0_sbml_inh.xml
versions/v3.0.0/PEtab/cell_cycle_v3.0.0_sbml_old.xml
versions/v3.0.0/PEtab/parameters_v3.0.0_old (2).tsv
versions/v3.0.0/cell_cycle_v3.0.0_inh.bngl
versions/v3.0.0/cell_cycle_v3.0.0_sbml.xml
versions/v3.0.0/launch_pypesto.py
versions/v3.0.0/launch_pypesto1.py
versions/v3.0.0/launch_refitting.m
versions/test_petab_amici/

# Other
versions/bngl_tests/confirmation_presentation.bngl