# python cache
__pycache__/
cell_cycle_model/__pycache__
tests/__pycache__

#distribution files
/build/
/dist/
/sdists/
*.egg-info

# compiled documentation
docs/_build
docs/.doctrees/
docs/make.bat
docs/Makefile

# pytest .cache directory
.cache/
.pytest_cache/

# Helper and run files
amici_models
run_flake8.sh
venv/
.vscode
*/.vscode/
versions/v3.0.0/cell_cycle_v3.0.0.txt
versions/v3.0.0/dict.txt
versions/v3.0.0/modify_bngl.py
versions/v3.0.0/make_peatab_compatible.py
versions/v*/results
versions/.metadata/
